---
title: Hello, World!
---
<h1>{{ title }}</h1>

<div class="partial-wrapper">
{{ partial('card', {name:'Updated Name!'})|raw }}
</div>

<div class="author-wrapper">
{{ partial('author', {name:'Rob', lastname:'Loach'})|raw }}
</div>

<div class="partial-wrapper">
{{ partial('card')|raw }}
</div>
